@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@interchain-ui/react/dist/interchain-ui-kit-react.cjs.css";

@font-face {
	font-family: orbitron;
	src: url(Orbitron-VariableFont_wght.ttf);
	font-display: swap;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: hsl(var(--background) / 0.5);
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--primary) / 0.5);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(var(--primary) / 0.7);
}

body {
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: orbitron, sans-serif;
}

/* Custom utilities */
@layer utilities {
	.data-\[loaded\=true\]\:opacity-100 {
		opacity: 1;
	}

	.data-\[hover\=true\]\:bg-default-50[data-hover="true"] {
		--tw-bg-opacity: 1;
		background-color: hsl(
			var(--nextui-default-200) /
			var(--nextui-default-200-opacity, var(--tw-bg-opacity))
		) !important;
	}
}

/* Animations */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Layout utilities */
[data-overlay-container="true"] {
	height: 100dvh;
}
