.holographic {
    text-shadow: 2px 1px 1px #2dd9fc, -2px -1px 1px #ff47bb;
}

.text-decoration-none:link { text-decoration: none !important; }
.text-decoration-none:visited { text-decoration: none !important; }
.text-decoration-none:hover { text-decoration: none !important; }
.text-decoration-none:active { text-decoration: none !important; }